nextflow.enable.dsl=2

plugins {
    id 'nf-amazon'
}

profile {
    docker {
        docker.enabled = true
    }
    awsbatch {
        executor.name = "awsbatch"
        process.executor = "awsbatch"
        process.queue = "BL5632_Yuan_Zekun"
        aws {
            batch.cliPath = "/home/ec2-user/miniconda/bin/aws"
            region = "ap-southeast-1"
        }

    }
}

